@page
@model TiendaDelivery.App.Frontend.Pages.Productos.IndexModel
@{
}
<a class="btn btn-primary" asp-page="./Create">Crear</a>
<h1>LISTA DE PRODUCTOS</h1>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">imagen</th>
      <th scope="col">precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var producto in Model.productos)
        {
            <tr>
                <th scope="row">@producto.Id</th>
                <td><img src="@producto.imagen" alt="imagen" width="200"></td>
                <td>@producto.precio</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@producto.Id">
                        Detalles
                    </a>
                </td>
            </tr>
        }
  </tbody>
</table>
